html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: #d9d9d9;
    background-color: #050711;
    /* background: linear-gradient(66deg, rgba(10,12,20,1) 0%, rgba(53,51,117,1) 100%); */
    font-family: Poppins;
}

.mainContainer {
    margin: 4rem 16rem;
}

.componentDiv {
    border: solid #a0a0a0b7 0.4px;
    border-radius: 20px;
    background-color: rgb(28, 29, 35);
    padding: 2rem;
    box-shadow: 15px 15px 20px 20px rgba(0, 0, 0, 0.548);
}

.componentTitle {
    font-family: Montserrat;
    font-weight: 100;
    font-weight: 600;
    font-size: 40px;
    text-shadow: 0px 0px 10px black;
}

.pop-up {
    width: 50px;
    height: 20px;
    border: 1px solid black;
    background-color: gray;
    display: none;
    position: absolute;
    z-index: 10;
}

.pop-up {
    position: relative;
}

.on-hover-element:hover + .pop-up {
    display: block;
}
