.bar-container {
    height: 15px;
    border-radius: 50px;
    border: 2px solid rgba(199, 199, 199, 0.815);
    overflow: hidden;
}

.bar {
    height: 100%;
    /* width: 100%; */
    background-color: rgba(56, 1, 207, 0.849);
}

.controls-container ul {
    padding: 0;
    display: flex;
    margin: 20px 0 0 0;
    justify-content: center;
    gap: 20px;
}
